@charset "ISO-8859-1";


body, html {
  height: 95%;
  background-image: url("IMG/bg.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.content {
  max-width: 70%;
  margin: auto;
  max-height: 70%;

}

td, th{
	text-align: center;	
}

#colorbus {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#colorbus td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#colorbus tr:nth-child(even){background-color: #f2f2f2;}

#colorbus tr:hover {background-color: #ddd;}

#colorbus th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}