* {
  box-sizing: border-box;
}


h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
	display: inline-block;
}

img{
	width: 100%;
}


/* Create three equal columns that floats next to each other */
.column {
  width: 250px;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */


/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}